<%= render 'static/header' %>
<%= render 'static/flash' %>

<div class='prompt-container'>
  <div class='prompt'>
    Joining "<%= @room.short_url %>"...
  </div>
</div>

<div id='prompt-tile' class='tile-container'>
  <div class='action-tile'>
    <div class='form-prompt'>
      Please enter the room password:
    </div>
    <%= form_tag authenticate_path(@room.short_url) do %>
    <div class='password-container'>
      <%= password_field_tag :password, '', { class: 'password-field' } %>
    </div>
    <div class='submit-container'>
      <%= submit_tag 'Join', { class: 'submit-button' } %>
    </div>
    <% end %>
  </div>
</div>
