<%= render 'static/header' %>
<%= render 'static/flash' %>

<div class='room-index-flex-container'>
  <div class='left-container'>
    <div id ='messages-container' class='messages-container'>
      <div id="message-container" data-room-id="<%= @room.id %>" data-user-id="<%= @user.id %>">
        <%= render 'messages' %>
      </div>
      <div id='message-container-loading'>
        Loading...
      </div>
    </div>
    <div class='send-container'>
      <div class='send-button-bar'>
        We'll have buttons here for different types of messages we can send. Like images, videos, etc.
      </div>
      <div class='send-message-bar'>
        <form id='newMessage'>
          <input type='text' id='message_content' class='message-content' placeholder='Send a message...'/>
          <input type='image' src='<%= image_path('send.png') %>' class='message-send' value='Send'/>
        </form>
      </div>
    </div>
  </div>
  <div class='right-container'>
    <div class='users-title'>
      Room Members:
    </div>
    <div class='users-list'>
      <%= render 'active_users' %>
    </div>
  </div>
</div>

<script>
  var newMessage = new Audio("<%= image_path('mario1.wav')%>");
</script>
