<%= render 'static/header' %>
<%= render 'static/flash' %>

<div class='room-index-flex-container'>
  <div class='left-container'>
    <div id ='messages-container' class='messages-container'>
      <div id="message-container" data-room-id="<%= @room.id %>" data-user-id="<%= @user.id %>">
        <%= render 'messages' %>
      </div>
      <div id='message-container-loading'>
        Loading...
      </div>
    </div>
    <div class='send-container'>
      <div class='send-button-bar'>
        <%= form_for(@message, url: room_user_messages_path(room_id: @room.id, user_id: @user.id), remote: true, multipart: true, authenticity_token: true) do |f| %>
          <%= hidden_field_tag(:type, 'ImageMessage') %>
          <div class="image-upload">
            <label for="image-input">
              <img class='image-button button-bar-button' src="<%= image_path('image.gif') %>"/>
            </label>

            <%= f.file_field :attachment, id: 'image-input', onchange: 'document.getElementById(\'image-submit\').click()' %>
          </div>
          <%= f.submit '', id: 'image-submit', style: 'display: none' %>
        <% end %>
        <%= form_for(@message, url: room_user_messages_path(room_id: @room.id, user_id: @user.id), remote: true, multipart: true, authenticity_token: true) do |f| %>
          <%= hidden_field_tag(:type, 'ImageMessage') %>
          <div class="image-upload">
            <label for="camera-input">
              <img class='image-button button-bar-button' src="<%= image_path('camera.png') %>"/>
            </label>

            <%= f.file_field :attachment, id: 'camera-input', onchange: 'document.getElementById(\'camera-submit\').click()', accept: "image/*", capture: "camera" %>
          </div>
          <%= f.submit '', id: 'camera-submit', style: 'display: none' %>
        <% end %>
      </div>
      <div class='send-message-bar'>
        <form id='newMessage'>
          <input type='text' id='message_content' class='message-content' placeholder='Send a message...'/>
          <input type='image' src='<%= image_path('send.png') %>' class='message-send' value='Send'/>
        </form>
      </div>
    </div>
  </div>
  <div class='right-container'>
    <div class='users-title'>
      Room Members:
    </div>
    <div class='users-list'>
      <%= render 'active_users' %>
    </div>
  </div>
</div>

<script>
  var newMessage = new Audio("<%= image_path('mario1.wav')%>");
</script>
