<%= render 'static/header' %>
<%= render 'static/flash' %>

<div class='room-index-flex-container'>
  <div class='left-container'>
    <div class='messages-container'>
      See messages here
    </div>
    <div class='send-container'>
      Send messages here
    </div>
  </div>
  <div class='right-container'>
    Currently active users will be here.
  </div>
</div>

You are now in a room and authenticated

</br></br>

<form id='newMessage'>
  <input type='text' id='message_content' placeholder='message'/>
  <input type='submit' />
</form>

</br></br>
Messages: </br>

<div id='message-container-loading'>
  Loading...
</div>

<div id="message-container" data-room-id="<%= @room.id %>">
  <%= render @room.messages %>
</div>

<script>
  var newMessage = new Audio("<%= image_path('mario1.wav')%>");
</script>
